@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(90deg, #fdfdfd 50%, #00aeff 50%);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(75, 72, 72); 
    font-weight: bold;
}